<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <title>Dashboard-GitHub</title>
</head>

<body>
    <main class="container">
        <header class="header">
            <h1>Github Dashboard</h1>
            <h2>Flávio Sipoli</h2>
        </header>
        <div class="titulo-projetos">
            <h3>Projetos</h3>
        </div>
        <section class="repo-git"></section>
    </main>

    <script src="/javascript/script.js"></script>
</body>

</html>