<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <title>Flávio Sipoli</title>
</head>

<body>
  <nav id="navbar" class="nav">
    <ul class="nav-list">
      <li>
        <a href="#welcome-section">About</a>
      </li>
      <li>
        <a href="#projects">Work</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <section id="welcome-section" class="welcome-section">

    <h1>Hey I am Flávio Sipoli</h1>
    <p>a Web Developer</p>

  </section>

  <section id="projects" class="projects-section">
    <h2 class="projects-section-header">My projects on Github</h2>

    <a href="#" class="btn btn-show-all" target="_blank">Show all<i class="fas fa-chevron-right"></i></a>
  </section>

  <section id="contact" class="contact-section">
    <div class="contact-section-header">
      <h2>let's work together..</h2>
    </div>
    <div class="contact-links">
      <a href="https://www.linkedin.com/in/fl%C3%A1vio-sipoli-5246141b2/" target="_blank" class="btn contact-details"><i
          class="fab fa-linkedin"></i> Linkedin</a>
      <a id="profile-link" href="https://github.com/flavio-sipoli" target="_blank" class="btn contact-details"><i
          class="fab fa-github"></i> GitHub</a>
    </div>
  </section>

  <footer>
    <p>
      &copy; Created by Flávio Sipoli
    </p>

  </footer>
</body>

</html>