@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #5a6879;
    --main-gray: #303841;

    --standard-font: "Inter", sans-serif, arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-gray);
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 20px;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 20px;
    width: 100%;
    background-color: var(--main-gray);
    color: var(--main-white);
}

.header {
    padding: 20px;
}

.header h1 {
    margin: 10px auto;
}

.header h2 {
    margin: 10px auto;
}

.titulo-projetos {
    font-family: var(--standard-font);
    font-size: 20px;
    padding: 20px;
}

.repo-git {
    display: flex;
    flex-wrap: wrap;
    color: var(--main-white);

    font-family: var(--standard-font);
    font-size: 20px;
}

.repo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 1px solid var(--main-red);
    border-radius: 10px;
    width: 250px;
    height: 150px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.repo a {
    color: var(--main-white);
    text-decoration: none;
}

.repo:hover {
    border-color: var(--main-blue);
    background: var(--main-red);
}

.repo:hover a {
    font-size: 22px;
}

.repo:active {
    border-color: var(--main-blue);
}
