@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #5a6879;
    --main-gray: #303841;

    --standard-font: "Inter", sans-serif, arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;

    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

body {
    background-color: var(--main-gray);
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 20px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    font-family: "inter", sans-serif, arial;
    padding: 2rem;
}

.nav-list a:hover {
    background: var(--main-blue);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 20px;
    width: 100%;
    background-color: var(--main-gray);
    color: var(--main-white);
}

.header {
    padding: 20px;
    margin: 75px auto;
    font-size: 2rem;
    font-family: "Poppins", sans-serif, arial;
}

.header h1 {
    margin: 10px auto;
}

.header h2 {
    margin: 10px auto;
}

.titulo-projetos {
    font-family: var(--standard-font);
    font-size: 20px;
    padding: 20px;
}

.repo-git {
    display: flex;
    flex-wrap: wrap;
    color: var(--main-white);

    font-family: var(--standard-font);
    font-size: 20px;
}

.repo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 1px solid var(--main-red);
    border-radius: 10px;
    width: 250px;
    height: 150px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.repo a {
    color: var(--main-white);
    text-decoration: none;
}

.repo:hover {
    border-color: var(--main-blue);
    background: var(--main-red);
}

.repo:hover a {
    font-size: 22px;
}

.repo:active {
    border-color: var(--main-blue);
}
